.CategoryCard {
    display: inline-block;
    margin: 0 calc((100% - 1170px)/6);
}

@media (max-width: 1300px) {
    .CategoryCard {
        margin: 0 calc((100% - 780px)/4);
    }
}

@media (max-width: 900px) {
    .CategoryCard {
        margin: 0 calc((100% - 390px)/2);
    }
}

@media (max-width: 490px) {
    .CategoryCard {
        margin: 0 calc((100% - 320px)/2);
    }
}