.InputElement {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(248, 248, 248);
    border-radius: 10px;
    border: none;
    height: 50px;
    transition: all 0.2s ease;
    font-style: italic;
    font-size: 16px;
    margin: 10px 0px;
}

.InputElement:focus {
    outline: none;
    background-color: white;
    box-shadow: 0 0 5pt 2pt #D3D3D3;
    font-style: normal;
}

.Invalid {
    border: 1px solid #FDA49A;
}