.ErrorBar {
    background-color: rgb(255, 241, 244);
    min-height: 30px;
    border-radius: 10px;
    color: black;
    font-weight: 600;
    border: 1px solid rgb(251, 153, 153);
    font-size: 16px;
    padding: 2px 20px;
    word-wrap: break-word;
}

.ErrorBar p {
    margin-top: 6px;
    margin-bottom: 10px;
    text-align: left;
}